@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

body {
   background: #dcf5ff;
   margin: 0;
   height: 100vh;
   display: grid;
   justify-items: center;
   align-items: center;    
}
.container
{
    width: 30%;
    background: white;
    border-radius: 10px; 
    position: relative;
}
.container .container-text
{
    position: absolute;
    top: 50%;  
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    letter-spacing: 0.02rem;
    font-weight: 700;
    color: #11f39c;
} 
.container .inner
{
     background-color: #11f39c;
     padding: 1em;
     border-radius: 10px;
     width: 100%;
     /* clip away the element from the top, right, bottom, and left edges   */
     clip-path: inset(0% 0% 0% 100%);
     transition: all  0.5s ease-in-out ;
     cursor: pointer;  
}
.container:hover .inner
{
    clip-path: inset(0% 0% 0% 0%);
    /* clip-path: inset(0% 50% 0% 0%); */
}

.container .inner h1 
{
    color: white;
    margin: 0;
}
.container .inner p 
{
    color: white;
    font-size: 0.8em;
}
@media (max-width: 946px){
    .container
    {
        width: 45%;
    }
}
@media (max-width: 600px){
    .container
    {
        width: 65%;
    }
}